/*:root {
    --primaryColor: white;
    --textColor: white;
}*/

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#search-form, #history {
  background-color: white;
  color:black
}

.cardStyle {
  justify-content: space-around;
  margin-bottom: 15px;
}

.jumbotron {
  text-align: center;
  background-color: var(--primaryColor);
  color: var(--textColor);
}

h1, h2 {
  text-align: center;
}

.container {
  display: flex;
  width:100%;
}

.cardStyle, .mainCardStyle {
  border-radius: 10px;
  text-align: center;
  width:100%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: var(--primaryColor);
  color: var(--textColor);
}

button:hover, .btn:hover {
  background-color: var(--primaryColor);
  color: var(--textColor);
}